<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CF Progress Observer</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        
        
        <style>
            .fa {
            font-size: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none !important;
            border-radius: 50%;
            }
            .fa-small {
            font-size: 20px;
            text-align: center;
            text-decoration: none !important;
            border-radius: 50%;
            }
        </style>
    </head>
<body>
    <nav class="navbar navbar-dark bg-primary" style="background-color: #e3f2fd;">
        <!-- Navbar content -->
        <a class="navbar-brand fs-1"  href="/">CF Progress Observer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Contact me<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <span class="navbar-text">
            <a style="text-decoration: none;" href="https://bellatrix-tech.netlify.app/"><i class="bi bi-link"></i>Bellatrix Website</a>
            
          </span>
        </div>
      </nav>

      <div class="container">
          <br> <br>
        <div class="card mb-3 mx-auto" style="max-width: 840px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/mee.jpg" alt="..." style="max-height: 350px; max-width: 600px;">
                <h4 class = "text-center" style = "padding-top: 30px;"><a href = "https://drive.google.com/file/d/1YMTxxcAUJZoCS-nE9D5PlvqDVMZPnGnq/view?usp=sharing">My Resume</a></h4>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Hi! 👋</h5>
                  <p class="card-text">I am Divya Porwal. I am currently a pre-final year student of B.Tech in Information Tehnology at Kamla Nehru Institute of Technology, Sultanpur.
                      I am always curious to learn about new technology. I am a detail-oriented person and keep my goals and tasks orgainzed to maintain productivity,
                       I am interested in Competitve Programming and Web Development. <br>
                      Along with these technical skills, I like to help others with my experience and knowledge. <br>
                      I am the founder of Bellatrix- The Female warriors in Tech community and mentored 50+ girls of my college for competitive programming.
                      I am the Joint secratory of Teach For Technocrats cell in my college. I am an active member of the Programming Club of my institute.<br>
                      If you would like to discuss something, or some recommendation feel free to contact me on any platform!
                      
                  </p>
                </div>
              </div>
            </div>
          </div>

        <br>
        <hr>
        <div class="card">
          
          <div class="card-body">
            <blockquote class="blockquote mb-0 text-center">
              <p>The only real progress lies in learning to be wrong all alone.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Abert Camus</cite></footer>
            </blockquote>
          </div>
        <div class="text-center ">
          <p class="fst-italic">Created  by  Divya Porwal</p>
          
            <div class="">
            <br>
            <hr>
            <a href="https://github.com/divyaporwal-hub" class="fa fa-github"></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/divya-porwal-99604a204" class="fa fa-linkedin"></a>
            &nbsp;
            <a href="mailto:divyaporwal100@gmail.com" class="fa fa-envelope"></a>
            &nbsp;
            </div>
        </div>
      <br>
</body>
</html>




